// Here you can add other styles
@media (min-width: 992px) {
  .col-md-8 {
    width: 33.33%;
  }
}
.custom-color,
.custom-color:hover {
  background-color: #15b3ce;
  border: none;
}
.btn-link{
      color: #15b3ce;
    }
.login-page {
    background-image: url("../assets/images/login_banner.jpg");
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}